.flex {
    display: flex;
    /* gap: 34px; */
}

header .flex {
    gap: 46px;
}

.column {
    flex-direction: column;
}

.jcc {
    justify-content: center;
}

.ais {
    align-items: start;
}

.aic {
    align-items: center;
}

.aie {
    align-items: end;
}

.jcs {
    justify-content: start;
}

.jcsb {
    justify-content: space-between;
}

.h100 {
    height: 100%;
}

.w100 {
    width: 100%;
}

.w40 {
    width: 40%;
}

.nogap {
    gap: 0;
}

.btn {
    padding: 10px;
    border-radius: 4px;
    user-select: none;
    transition: background-color .2s ease-in-out, color .2s ease-in-out, border .2s ease-in-out, filter .2s ease-in-out;
}

.btn:hover {
    cursor: pointer;
    filter: brightness(1.05);
}

.btn.light:hover {
    filter: brightness(.95);
}

.btn.min {
    padding: 10px;
}

.btn.big {
    padding: 22px 40px;
}

.btn.yellow {
    background-color: #FFEA31;
    color: #393737;
    border: none;
}

.sec-title {
    color: #393737;
    font-weight: 400;
    font-size: 44px;
    letter-spacing: 1.32px;
}

.sec-text {
    font-size: 15px;
    color: #70748C;
    line-height: 24px;
    width: 451px;
}

.btn.border {
    border: 1px solid #70748C;
}

.btn.purple {
    background: #4E66FF;
    border-radius: 4px;
    padding: 22px 40px;
    color: white;
    width: auto;
}